#title {
	font-family: »ªÎÄçúçê;
        text-align: center;
        color: white;
        font-size: 60px;
        line-height: 500px;
}
        #button {
            font-family: ¿¬Ìå;
            text-align: center;
            background-color: dimgray;
            color: black;
            font-size: 40px;
            border-radius: 20px;
        }
 	#footer {
		text-align:center;
                height: 20px;
                position: fixed;
                bottom: 0;
                width: 100%;
                color: white;
                font-family: Arial;
                font-size: 12px;
                letter-spacing: 1px;
            }
	body {
            background-image: url(/img/Background.jpg);
            background-size: cover;
        }